@use 'globals' as *;
@use 'reset' as *;
@use 'variables' as *;
.header {
   &__nav {
      height: 50px;
      margin: 30px auto 0;
   }
   &__main,
   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1120px;
      gap: 35px;
   }
   &__main {
      margin: 0 auto;
   }
}
//-header navigation
.logo {
   width: 120px;
   height: 25px;
}
.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 465px;
   height: 24px;
   &-item {
      position: relative;
      color: $light-blue;
      font-weight: 500;
      transition: all 150ms ease-in;
      &::before {
         content: '';
         position: absolute;
         bottom: -10px;
         height: 3px;
         left: 0;
         right: 100%;
         transform-origin: 0 0;
         border-radius: 5px;
         transition: all 150ms ease-in;
      }
      &:hover {
         color: $orange;
      }
      &:hover::before {
         transform-origin: 100% 100%;
         right: 0;
         background-color: $orange;
      }
   }
}
//-header main
.header-text {
   max-width: 1440px;
}
.title {
   margin-bottom: 18px;
   font-weight: 500;
   font-size: 13px;
   text-align: center;
   letter-spacing: 0.185em;
   color: $orange;
   text-align-last: left;
}
.big-title {
   margin-bottom: 25px;
   font-weight: 700;
   font-size: 50px;
   line-height: 56px;
   color: $dark-blue;
}
.para {
   margin-bottom: 50px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: $light-blue;
}
.header-text__actions {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.watch {
   display: flex;
   justify-content: start;
   align-items: center;
   margin-left: 50px;
   a {
      display: inline-block;
      padding: 20px;
      border-radius: 5rem;
      margin-right: 25px;
      background-color: $white;
      box-shadow: 1px 4px 7px rgb(230, 229, 229);
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: center;
      cursor: pointer;
   }
   span {
      color: $dark-blue;
   }
}
.header-image {
   img {
      width: 46vw;
      height: 40vw;
      object-fit: cover;
   }
}
// .menu-item
// .menu-item
// .menu-item
// .menu-item
// .header-auth
// .login
// .sign-up
