block mixins 
   include ./views/mixins
html 
   head
      link(rel='preconnect', href='https://fonts.googleapis.com')
      link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap', rel='stylesheet')
      link(href="./css/app.css" rel="stylesheet" )
      link(href="./sass/app.scss" rel="stylesheet" type="text/x-scss")
   body
      main.wrapper
         include ./views/header
         include ./views/brand
         include ./views/service
         include ./views/feature