.brand
   a.brand__logo(href="#" style="background-image: url('./images/1.png')")
   a.brand__logo(href="#" style="background-image: url('./images/3.png')")
   a.brand__logo(href="#" style="background-image: url('./images/2.png')")
   a.brand__logo(href="#" style="background-image: url('./images/4.png')")
   a.brand__logo(href="#" style="background-image: url('./images/5.png')")