.feature
   .feature__img(style="background-image: url('./images/feature1.png')")
   .feature__text
      p.title WHO WE ARE
      h2.big-title Top #1 Marketing Agency in the World
      p.para Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
      a(href="#" class="button") Get in Touch 
.feature.reverse
   .feature__img(style="background-image: url('./images/feature2.png')")
   .feature__text
      p.title OUR MISSION & GOAL
      h2.big-title Realize Your Business Goals For Profit
      p.para Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
      a(href="#" class="button") Get in Touch 
.feature
   .feature__img(style="background-image: url('./images/feature3.png')")
   .feature__text
      p.title TESTMONIALS
      h2.big-title Client’s Fedback
      p.para Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci 
      .feedback
         span.feedback__icon
         span.feedback__number 450+
         span.feedbac__desc Client's Feedback
      a(href="#" class="button") Get in Touch
