header.header
   .header__nav
      img(srcset="./images/logo.png 2x" class="logo")
      include ./menu
      .header-auth
         a(href="#").login.button.button--disable Login
         a(href="#").sign-up.button Sign Up
   .header__main
      .header-text 
         p.header-text__title AWARD WINNING COMPANY
         h1.header-text__big-title We&nbsp;Are&nbsp;The&nbsp;Best Digital&nbsp;Marketing
         p.header-text__para You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
         .header-text__actions
            a.get-started.button Get Started
            div.watch
               a(style="background-image: url('./images/play(1).png')")
                  
               span Watch Video
      .header-image
         img(srcset="./images/card.png 2x")