header.header
   .header__nav
      img(srcset="./images/logo.png 2x" class="logo")
      include ./menu
      .header-auth
         a(href="#").login.button.button--disable Login
         a(href="#").sign-up.button Sign Up
   .header__main
      .header-text 
         p.header-text__title AWARD WINNING COMPANY
         h1.header-text__big-title We Are The Best Digital Marketing
         p.header-text__para You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
         .header-text__actions
            a.get-started Get Started
            a.watch Watch Video
      .header-image
         img(srcset="./images/Card & Content.png 2x")